<h3>Giriş Yap</h3>

<form action="/admin" method="POST">
  <label for="username"><b>Kullanıcı Adı: </b></label>
  <input type="text" placeholder="Kullanıcı Adını Giriniz" name="username" />

  <label for="password"><b>Şifre: </b></label>
  <input type="password" placeholder="Şifre Giriniz" name="password" />

  <input type="submit" value="Giriş Yap" class="btn" />

  <a class="registerBtn" href="/register">Kayıt Ol</a>

  <p class="error"><%= message %></p>
</form>
