<a href="/dashboard" style="display: inline"><< Dashboard</a>

<div class="admin-title">
  <h2>Yetkili Bilgileri</h2>
</div>

<ul class="admin-posts">
  <% data.forEach(user => { %>

  <li>
    <p><%= user.username %></p>
    <p>Telefon: <%= user.phone %></p>
    <p>Email: <%= user.email %></p>
    <div class="admin-post-controls">
      <a class="btn" href="/other-logs/<%= user.username %>">İşlemler</a>
    </div>
  </li>
  <% }); %>
</ul>
