<h3>Üyelik Oluştur</h3>
<form action="/register" method="POST">
  <label for="username"><b>Kullanıcı Adı: </b></label>
  <input type="text" placeholder="Kullanıcı Adını Giriniz" name="username" />

  <label for="password"><b>Şifre: </b></label>
  <input type="password" placeholder="Şifre Giriniz" name="password" />

  <input type="submit" value="Üyelik Oluştur" class="btn" />

  <p class="class"><%= message %></p>
</form>
