<header class="header">
  <a href="/admin" class="header-logo">Admin Panel</a>
  <nav class="header-nav">
    <ul>
      <li>
        <a href="/" class="">Ana Sayfa</a>
      </li>
      <li>
        <a href="/about" class="">Hakkımızda</a>
      </li>
      <li>
        <a href="/contact" class="">İletişim</a>
      </li>
    </ul>
  </nav>
  <div class="header-button">
    <a href="/logout">Çıkış</a>
  </div>
</header>
