<header class="header">
  <a href="/" class="header-logo">BLOG APP</a>
  <nav class="header-nav">
    <ul>
      <li>
        <a href="/" class="">Ana Sayfa</a>
      </li>
      <li>
        <a href="/about" class="">Hakkımızda</a>
      </li>
      <li>
        <a href="/contact" class="">İletişim</a>
      </li>
    </ul>
  </nav>
  <div class="header-button">
    <button class="searchBtn" aria-expanded="false">Ara</button>
    <a href="/admin">Giriş</a>
  </div>
</header>
